@model IEnumerable<EjercicioFinalMVC5.Models.Animal>

    @*<table id="tablaAnimales">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Imagen)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        <img class="imagenAnimal" width="75" height="75" src="data:image;base64,@System.Convert.ToBase64String(item.Imagen)" />
                    </td>

                </tr>
            }

        </table>*@
    @*<div class="container-fluid" id="containerAnimales" >
        @foreach (var item in Model)
        {
            <div class="card mb-2">
                <img class="imagenAnimal card-img-top" width="100px" src="data:image;base64,@System.Convert.ToBase64String(item.Imagen)" />
                <div class="card-body">
                    <h5 class="card-title">@item.Nombre</h5>
                    <h5 class="card-title">@item.Especie</h5>
                    <button type="button">
                        <a href="../../Animal/Details/@item.AnimalID">Detalles</a>
                    </button>
                </div>
            </div>
        }
    </div*@




<div class="accordion" id="accordionPanelsStayOpenExample">
    @foreach (var item in Model)
    {

        <div class="list-group-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
               
            </h2>
            <div id="@("p"+item.JaulaID)" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body container-fluid">
                    <p style="font-weight: bold; font-size: 2.5em;">@Html.DisplayFor(modelItem => item.Nombre)</p>
                    <img class="imagenAnimal d-lg-inline" src="@Url.Action("GetImage", "Animal", new { item.AnimalID })" style="max-height:200px; max-height:200px" />

                </div>
            </div>
        </div>
    }
</div>

