@model EjercicioFinalMVC5.Models.Animal

@{
    ViewBag.Title = "Crea un animal";
}



@using (Html.BeginForm("Create", "Animal", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class=" d-flex justify-content-center">
    <div class="form-horizontal  d-flex flex-column " style="background-color:#d8d8d8;  padding:5%; border-radius: 5%">
        <h4 style="text-align: center">Crea un Animal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group ">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EspecieID, "EspecieID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EspecieID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EspecieID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JaulaID, "JaulaID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("JaulaID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JaulaID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input id="filMyfile" name="filMyfile" type="file" runat="server" />
            </div>



        </div>
        <div class="form-group align-self-lg-center " style=" padding:8%">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <a class="btn btn-dark  " href="@Url.Action("Index", "Animal")" _msthash="418886" _msttexthash="223262" style=" margin:10px">Regresa a la lista</a>
    </div>
   


</div>
}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

