@model IEnumerable<EjercicioFinalMVC5.Models.Animal>

@{
    ViewBag.Title = "Galeria-PepeZoo";
}
<body>

    <div class=" d-flex justify-content-center overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style=" background-size: 100%; background-image: url(https://cf.bstatic.com/data/xphoto/1182x887/375/37539548.jpg?size=S); background-repeat: no-repeat; border-radius: 7%; box-shadow: 8px 8px 8px 8px #1e1d1d;  ">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (var i = 0; i < Model.Count(); i++)
                {
                    var item = Model.ElementAt(i);
                    if (i == 0)
                    {
                        <div class="carousel-item active">
                            <a href="@Url.Action("Details", "Animal", new { id = item.AnimalID })">
                                <img class="imagenAnimal d-block w-100" src="@Url.Action("GetImage", "Animal", new { item.AnimalID })" style=" max-height: 400px; max-width: 400px; box-shadow: 0 0 30px rgba( 23, 32, 42, 0.7)" />
                            </a>
                            <h5 style="font-weight: bolder; font-family: Comic Sans MS; font-size: 3em; color: #f3f2f2; -webkit-text-stroke: 2px black; color: #f3f2f2; ">@Html.DisplayFor(model => item.Nombre) </h5>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <a href="@Url.Action("Details", "Animal", new { id = item.AnimalID })">
                                <img class="imagenAnimal d-block w-100" src="@Url.Action("GetImage", "Animal", new { item.AnimalID })" style="max-height: 400px; max-width: 400px; box-shadow: 0 0 20px rgba(23, 32, 42, 0.7) " />
                            </a>
                            <h5 style="font-weight: bolder; font-family: Comic Sans MS; font-size: 3em; color: #f3f2f2; -webkit-text-stroke: 2px black; color: #ffffff; ">@Html.DisplayFor(model => item.Nombre) </h5>

                        </div>
                    }
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</body>
