@model IEnumerable<EjercicioFinalMVC5.Models.Animal>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="accordion" id="accordionPanelsStayOpenExample">
    @foreach (var item in Model)
    {

        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="@("#p"+item.AnimalID)" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    #@Html.DisplayFor(modelItem => item.AnimalID)
                    <h3>@Html.DisplayFor(modelItem => item.Nombre)</h3>
                </button>
            </h2>
            <div id="@("p"+item.AnimalID)" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <table class="tablaAnimales">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FechaNacimiento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Imagen)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Especie.Descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Jaula.PosicionJaula)
                            </th>
                        </tr>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaNacimiento)
                            </td>
                            <td>
                                <img class="imagenAnimal" width="75" height="75" src="@Url.Action("GetImage", "Animal", new { item.AnimalID })" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Especie.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Jaula.PosicionJaula)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AnimalID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.AnimalID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.AnimalID })
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    }
</div>


